<template>
<div>
  <div class="row">
    <div class="col-12">
      <h1>{{ msg }}</h1>
      
      <p>
        100days100projects. / click the title to see the complete recipe 😉<br> It works thanks to 
        <a href="https://www.themealdb.com" target="_blank" rel="noopener">TheMealDB ❤️</a>
      </p>
    </div>
  </div>
  


   
    <!-- Button trigger modal -->
    <div class="row">
      <div class="col-12">
    <button v-for="receta in recetas" v-bind:key="receta" type="button" class="btn first" data-toggle="modal" data-target="#exampleModalCenter">
      📝 {{receta.strMeal}}
    </button>
      </div>
    </div>
    <div class="row" style="margin-top:1em">
            <div class="col-12">

        <button class="btn first" @click="cargarYFondo">🔄 Load another now! </button>
            </div>
    </div>

<div class="row" style="text-align:right;">
  <p style="width:100%;"><a href="https://gitlab.com/angelixo" target="_blank" ><small>by Gassó </small></a></p>

</div>

    <!-- Modal -->
    <div  v-for="receta in recetas" v-bind:key="receta" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg"  role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{receta.strMeal}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">  
                <p class="align-text-bottom"></p>
                <p class="align-text-bottom">From: {{receta.strArea}}</p>
                 <span class="align-text-bottom">Category: {{receta.strCategory}}</span>
              </div>
              <div class="col-6 align-text-bottom"> 
                <img :src="receta.strMealThumb" class="img-fluid " alt="">
              </div>
            </div>
            <div class="row" style="margin-top:4em;">
              <div class="col-12">
                 <p>{{receta.strInstructions}}</p>
                  <p> YouTube: <a target="_blank" href="https://www.youtube.com/watch?v=fyeqZJKEXp0"> See complete video </a> </p>
              </div>
     
            </div>
          </div>

          <div class="modal-footer">
                <button type="button" class="btn first" data-dismiss="modal">Close window</button>
            <a  target="_blank" :href="receta.strSource" class="btn first">More info</a>
          </div>
        </div>
      </div>
    </div>
   


  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data (){
    return{
      recetas : null,
    }
  },
  mounted(){
    this.cargarYFondo()
  },
  methods:{
    cargarYFondo(){
      this.cargarReceta();
      this.actualizarFondo();
    },
    cargarReceta(){
       this.$axios
        .get('https://www.themealdb.com/api/json/v1/1/random.php')
        .then(response => (this.recetas = response.data.meals))
    
    },
    actualizarFondo(){
      document.getElementById('body').style.backgroundImage= `url(${this.fondo})`
    }
  },
  computed: {
    fondo: function () {
        return this.recetas[0].strMealThumb
  
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

/* COSAS DE BOTONES */


.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 0.6em;

  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

}
  .btn:hover,
  .btn:focus {
    color: #fff;
    outline: 0;
  }


.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
 .first:hover {
    box-shadow: 0 0 40px 40px grey inset;
  }



</style>
