<template>
  <div class="container" id="app" style="background:#ffffffe0;padding:4em;border-top-left-radius: 5.1px;
border-top-right-radius: 5.1px;">
    <img alt="Vue logo" style="max-width:200px" src="./assets/logo.png">
    <HelloWorld msg="Discover random recipes with a click 😀"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app',
  components: {
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
